{% extends "base.html" %}

{%block search%}
  {% include "search_form.html" %}<br/>
{%endblock%}
{%block content%}
{% if not request.GET.q %}
<div class="">
  {%include "form.html" with form=create_form action_url=create_url btn_title='Carro'%}

</div>
{% endif %}

<h1 class="text-center"> Carros </h1>
{% for object in object_list %}

<div class= "btn btn-info">{{object.make}}</div>
<br>
<div class= "btn btn-warning">{{object.Type}}</div>
<br>
<div class= "btn btn-link">{{object.year}}</div>
<br>
<div class= "btn btn-link">{{object.colour}}</div>
<br>
<div class= "btn btn-link">{{object.price}}</div>
<br>
<div class= "btn btn-link">{{object.created}}</div>
<br>

 {% endfor %}

<span class="pull-right has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
<div class="media">

  <div class="media-left">

  </div>

  <div class="media-content">
    <div class="content">

    </div>
  </div>

</div>

</article>
{% if request.GET.q %}
  <p>Carro no encontrado</p>
{% else %}
  <p>No carros aun</p>
{% endif %}
{% endblock %}
