{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>  </title>
<meta name="description" content="{% block description %}{% endblock %}"/>

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <link href="{% static '../css/local.min.css' %}" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        </head>
        <body>
                <h1 class="text-center">Detalles del carro   </h1>
 {{object.make}}
<br>
{{object.Type}}
<br>
{{object.year}}
<br>
{{object.colour}}
<br>
{{object.price}}
<br>
{{object.created}}
<br>
        <!-- All that javascript -->
        <script src="../jquery.min.js"></script>
        <script src="{% static "../js/bootstrap.min.js" %}"></script>
        </body>

</html>